body{
  font-family: sans-serif;
}
/*Background picture Section*/
.loginBground{
  display: flex;
  justify-content: center;    /*vertically center*/
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(#d4a650, #d4a650),url("Image/loginas3.jpg");  /*Linear gradient for giving a orange vibe*/
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;    /*For Orange Vibe, blend mode*/
}

/* background text section*/
.loginBground__text{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/*for h1 section*/
.loginBground__text h1{
  font-size: 60px;
  font-weight: 400;
}

/*read recipes button text design*/
.Botton{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 100px;      /*for round border*/
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.4s;
}
.Botton{
  background-color: #080707;
}
/*Making botton click*/
.Botton:hover{
  background-color: #fff;
  color: #1c1a19;
}
