@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");  /*for fb,insta etc logo*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}

/*Navigation Bar*/
nav{
  background: #000205;
  height: 80px;
  width: 100%;
}

/*Logo section*/
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/*For Button Type*/
a.active,a:hover{
  background: #ae422f;
  transition: .5s;
}

/*Side Button*/
.checkbtn{
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 35px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3498DB;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #17171a;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/*Background picture Section*/
.bground{
  display: flex;
  justify-content: center;    /*vertically center*/
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(#879096, #879096), url("Image/pic 1.jpg");  /*Linear gradient for giving a orange vibe*/
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;    /*For Orange Vibe, blend mode*/
}

/* background text section*/
.bground__text{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/*for h1 section*/
.bground__text h1{
  font-size: 60px;
  font-weight: 400;
}
/*for p section*/
.bground__text p{
  letter-spacing: 6px;
}
/*read recipes button text design*/
.botton,
.botton2 {
  display: inline-block;

  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 100px;      /*for round border*/
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.4s;
}
.botton{
  background-color: #080707;
}
/*Making botton click*/
.botton:hover{
  background-color: #fff;
  color: #1c1a19;
}
.margin__top{
  margin-top: 15px;
}

/*Features Section*/
.Special__Features{
  padding: 70px 15px;
  background-color: #070d29;
}
.title{
  background-color: #424657;
  text-align: center;
  padding: 10px 0px;
  border-radius: 50px;
  transition: all .4s;
  margin-top: -70px;
}
.title h2{
  color:#fff;
}
.Features__image{
  position: relative;
  width:100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  border-radius: 2px;
}
.Features__image img{
   width: 100%;
   max-height: 100%;
   height: auto;
   transition: all 0.4s;
}
.Features__image:hover img{
  transform: scale(1.2,1.2);
  cursor: pointer;
}
.Features__image-text{
  padding: 30px 15px;
  max-height:150px;
  position: absolute;
  bottom:0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7) ;   /*rgba for Making transparent*/
  color:#fff;
}
.Features__image-text h3{
  color: #f4511e;
  font-size: 20px;
  font-weight: 500;
}
.Features__image-text p{
  line-height: 25px;
}

/*More Features Section*/
.More__Features{
  padding: 50px 0;
  background-color: #69aabf;
}

.image__responsive2{
  width:100%;
  max-height: 100%;
  height: auto;
}
.bg__dark{
  background-color: #395b66;
  padding: 50px 0;
}
.text__light{
  color: #fff;
}
.More__Features h3{
  font-size: 20px;
  font-weight: 500;
}
.More__Features p{
  line-height: 36px;
}
.botton2{
background-color: #f4511e;
}
.botton2:hover{
  background-color: black;
  color: #ebf0f2;
}
